@model Razorpay.Integration.Models.MerchantOrder
<button id="RzP_btn" hidden>Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    var options = {
        "key": "@Html.DisplayFor(model => model.RazorpayKey)", // Enter the Key ID generated from the Dashboard
        "amount": "@Html.DisplayFor(model => model.Amount)", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "@Html.DisplayFor(model => model.Currency)",
        "name": "@Html.DisplayFor(model => model.Name)",
        "description": "@Html.DisplayFor(model => model.Description)",
        "image": "https://avatars.githubusercontent.com/u/65504583?v=4", // You can give your logo url
        "order_id": "@Html.DisplayFor(model => model.OrderId)",
        "handler": function (response) {
            // After payment successfully made response will come here
            // Set the data in hidden form
            document.getElementById('rzp_paymentid').value = response.razorpay_payment_id;
            document.getElementById('rzp_orderid').value = response.razorpay_order_id;
            document.getElementById('rzp_signature').value = response.razorpay_signature;
           Btnclick();

            //console.log(response.razorpay_payment_id)
            //console.log(response.razorpay_order_id)
            //console.log(response)
           // console.log("Payment s")
           // alert("congrates !! Payement sucess")
            // // Let's submit the form automatically
            document.getElementById('rzp-paymentresponse').click();
        },
        "prefill": {
            "name": "@Html.DisplayFor(model => model.Name)",
            "email": "@Html.DisplayFor(model => model.Email)",
            "contact": "@Html.DisplayFor(model => model.PhoneNumber)"
        },
        "notes": {
            "address": "@Html.DisplayFor(model => model.Address)"
        },
        "theme": {


            "color": "#F37254"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        //alert(response.error.code);
        //alert(response.error.description);
        //alert(response.error.source);
       // alert(response.error.step);
      //  alert(response.error.reason);
       // alert(response.error.metadata.order_id);
       // alert(response.error.metadata.payment_id);
        updatefail(response.error.metadata.order_id, response.error.metadata.payment_id);
    });
    //<!-- onload function -->
    window.onload = function () {
        document.getElementById('RzP_btn').click();
    };
    document.getElementById('RzP_btn').onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    }
   function  updatefail(or_id,py_id)
    {
        var obj = {
            order_id: or_id,
            payment_id: py_id,
            status: "UnPaid",
            signature:"0"
        }
        $.ajax({
            url: "/Payment/updatefail",
            method: "POST",
            data: obj,
            success: function (data) {
                //data = JSON.parse(data);
                console.log(data);
            },
            error: function () {
                alert("err");
            }
        })

    }
    function Btnclick() {
       // debugger;
        var pay_id = $("#rzp_paymentid").val();
        var ord_id = $("#rzp_orderid").val();
        var sign = $("#rzp_signature").val();
        var status = "paid";
        var obj = {
            order_id: ord_id,
            payment_id: pay_id,
            status: status,
            signature:sign
        }
        $.ajax({
            url: "/Payment/update",
            method: "POST",
            data: obj,
            success: function (data) {
                //data = JSON.parse(data);
                console.log(data);
            },
            error: function () {
                alert("err");
            }
        })
    }
</script>
<form action="CompleteOrderProcess" method="post" asp-antiforgery="true">
    <input type="hidden" id="rzp_paymentid" name="rzp_paymentid"  />
    <input type="hidden" id="rzp_orderid" name="rzp_orderid"  />
    <input type="hidden" id="rzp_signature" name="rzp_signature" />
    <button type="submit" id="rzp-paymentresponse" class="btn btn-primary" hidden>Submit</button>
</form>
